@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-3 py-1 rounded-md bg-slate-400 hover:bg-slate-500 transition-colors duration-300
  }
  .form-control {
    @apply px-2 py-1 rounded-md focus:outline-none border-2 border-slate-400 border-opacity-50 focus:border-primary-600 focus:caret-primary-700
  }
}

body {
    font-family: 'Nunito Sans Variable', sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  body.light {
    background-color: #fff;
    color: #000;
  }
  
  body.dark {
    background-color: #333;
    color: #fff;
  }

  .loader {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    animation: skLinRotate 1s ease-in-out infinite alternate;
  }
  .loader:after{
    content:"";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: blue;
  }
  @keyframes skLinRotate {
    95% ,100% { transform: rotate(840deg) }
  }